@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,html{
    overflow-x: hidden;
}

body{
    font-family: 'Syne Mono',monospace,sans-serif;
    font-weight: bold;
}

#myCanvas{
    width: 100%;
    height: 100%;
}

a{
    color: white;
    text-decoration: none;
    
}

.brand{
    transition: all 1s ease;
    
}
.brand:hover{
    font-size: 2rem;
}

.game{

    height: 400px;
    width: 916px;
    border: 1px solid black;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}

.game__menu{
    position: absolute;
    left: calc(50% - 30%);
    top: calc(50% - 30%);
    width: 60%;
    height: 60%;
    z-index: 100;
    background-color: rgba(206,152,95,1);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "title title" ". ." ". ." "play play";
    grid-gap: 5px;
    transition: transform 2s ease-in;
}

.game__menu *{
    display: flex;
    align-items: center;
    justify-content: center;
}


.game__tools{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(206,152,95,1);
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40%;
    height: 40px;
}

.game__score{
    position: absolute;
    background-color: rgba(206,152,95,1);
    top: 5px;
    right: 5px;
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    cursor: pointer;
}

.play-button{
    grid-area: play;
    font-size: 3rem;
    border: 1px solid black;
}

.game-title{
    grid-area: title;
    font-size: 3rem;
    border: 1px solid black;
}

.remove{
    transition: transform .5s ease-in;
    transform: translateY(-150%);
}

body,html{
    height: 100%;
}

body{
    display: grid;
    grid-template-rows: 4rem 1fr auto;
    grid-template-columns: 100vw;
    grid-template-areas: "header" "main" "footer";
}

header{
    z-index: 200;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    grid-area: header;
    background-color: #540000;
    border: 1px solid #700000;
    box-shadow: inset 25px 0 25px -25px rgba(0,0,0,0.4), inset -25px 0 25px -25px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

main{
    grid-area: main;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    grid-area: footer;
    background-color: black;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

